$body_class: day;
$body_bg: white;
$body_color: #333;
$link_color: green;
$link_color_light: #00ff00;
$link_hover_color: #333;
$light_text_color: #AAA;
$light_bg_color: #DDD;
$progress_color: #800080;

@import "_scss/theme";
