$body_class: night;
$body_bg: #333;
$body_color: white;
$link_color: #80ff80;
$link_color_light: #459045;
$link_hover_color: white;
$light_text_color: #AAA;
$light_bg_color: #222;
$progress_color: #ff80ff;

@import "_scss/theme";
